<% layout("/layouts/bolierplate") %>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card shadow-lg rounded-3 p-4 auth-card mb-5">
      <h2 class="text-center mb-4">Signup to WanderStay</h2>
      <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" class="form-control" required />
        </div>
        <div class="d-grid">
          <button class="btn btn-success">Signup</button>
        </div>
      </form>
      <p class="text-center mt-3">
        Already have an account?
        <a href="/login" class="text-decoration-none">Login here</a>
      </p>
    </div>
  </div>
</div>
